@use '../../assets/farger.scss';
@use '../../assets/fonter.scss';

header {
  background: farger.$primary;
  color: farger.$white;
  padding: 1.5rem 2rem !important;
  box-shadow: 0 0.25rem 0.625rem rgba(94, 140, 97, 0.4) !important;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: space-between;

  h1 {
    font-family: fonter.$font-heading;
    font-weight: 700;
    color: farger.$white;
    text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.25);
    transition: padding 0.3s ease, box-shadow 0.3s ease;
  }

  &.krymp {
    padding: 0.75rem 2rem !important;
    h1 {
      font-size: 1.5rem;
    }
  }
}



